html 
{
	height: 100%; 
	width: 100%;
}
body
{	
	margin:0px;
	padding:0px;
	background-color: rgb(0, 0, 0);
	color: rgb(240, 240, 255);
	font-weight: normal;
	font-style: normal;
	font-family: FreeSans;
	font-size: 12pt;
	height: 100%;
	width: 100%;
}
a:link
{
        color: rgb(51, 153, 255);
	font-weight: bold;
        text-decoration: underline;
}
a:active
{
	color: rgb(204, 255, 153);
	text-decoration: underline overline;
	font-weight: bold;
}
a:visited
{
	color: rgb(51, 153, 255);
	font-weight: bold;
        text-decoration: underline;
}
a:hover
{
        color: rgb(153, 204, 102);
        text-decoration: underline overline;
	font-weight: bold;
}
table
{
	font-weight: normal;
	font-style: normal;
	font-family: FreeSans;
	border-color: rgb(240, 240, 255);
}
th
{
	font-family: FreeSans;
	font-weight: bold;
	color: rgb(240, 240, 255);
	background-color: rgb(64, 32, 32);
}
td
{
	vertical-align:top;
	text-align:left; 
}
h1
{
	font-weight: bold;
	font-family: FreeSans;
	font-style: normal;
	font-size: 1.6em;
	line-height: 160%;
	margin: 0;
	color: rgb(240, 240, 255);
}
h2
{
	font-weight: bold;
	font-style: normal;
	font-family: FreeSans;
	font-size: 1.4em;
	line-height: 150%;
	margin: 0;
	color: rgb(240, 240, 255);
}
h3
{
	font-weight: bold;
	font-style: normal;
	font-family: FreeSans;
	font-size: 1.4em;
	line-height: 140%;
	margin: 0;
	color: rgb(240, 240, 255);
}
h4
{
	font-weight: bold;
	font-family: FreeSans;
	font-style: normal;
	font-size: 1.3em;
	line-height: 130%;
	margin: 0;
	color: rgb(240, 240, 255);
}
h5
{
	font-weight: bold;
	font-family: FreeSans;
	font-style: normal;
	font-size: 1.2em;
	line-height: 120%;
	margin: 0;
	color: rgb(240, 240, 255);
}
h6
{
	font-weight: bold;
	font-style: normal;
	font-family: FreeSans;
	font-size: 1.1em;
	line-height: 110%;
	margin: 0;
	color: rgb(240, 240, 255);
}
hr
{
	color: rgb(127, 127, 143);
}
button, input, textarea
{
	font-style: normal;
	font-weight: bold;
	font-family: FreeSans;
	font-size: 12pt;
	color: rgb(0, 0, 80);
}
label
{
	font-style: normal;
	font-family: FreeSans;
	color: rgb(240, 240, 255);
}
caption
{
	font-family: FreeSans;
	font-style: normal;
}

legend
{
	font-style: normal;
	font-family: FreeSans;
}
marquee
{
	font-family: FreeSans;
}
select
{
	border-style:solid;
	font-style: normal;
	font-family: FreeSans;
	
}
iframe
{
	border-width: 0px;

}
